@import 'vars';
@import 'libs';
@import 'global';

body {
  color: $text-color;
}

.sunny {
  background-color: $bg-sunny-color;
}

.cloudy {
  background-color: $bg-cloudy-color;
}

.rain {
  background-color: $bg-rain-color;
}

.storm {
  background-color: $bg-storm-color;
}

.snow {
  background-color: $bg-snow-color;
}

.fog {
  background-color: $bg-fog-color;
}

.main-wrapper {
  margin: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .sity-block {
    .sity-name {
      font-size: 20px;
      border: none;
      border-radius: 8px;
      padding: 18px;
    }

    .sity-name:disabled {
      background-color: transparent;
      color: #fff;
      opacity: 1;
      border: none;
      padding: 0;
      margin: 0;
      appearance: none;
      font-size: 50px;
    }

    .change-sity-block {
      display: flex;
      font-size: 18px;
      opacity: 0.6;
      margin-top: 10px;

      .change-sity {
        margin-right: 30px;
        cursor: pointer;
      }

      .your-position {
        cursor: pointer;
      }

      .position-logo {
        margin-right: 8px;
      }
    }
  }
}

.degree-block {
  display: flex;
  height: 32px;
  font-size: 18px;
  list-style: none;
  .degree-ico {
    margin-right: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
  }

  .degree-type {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    cursor: pointer;
  }
  .degree-type:last-child {
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .degree-type:nth-child(2) {
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #fff;
  }
}

.weather-block-wrapper {
  align-items: center;
  margin: 160px;
}

.weather-block {
  display: flex;
  font-size: 150px;
  align-items: center;

  .weather-number {
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    margin-left: 15px;
  }
}
.weather-description {
  text-align: center;
  font-size: 26px;
  margin-top: -10px;
  text-transform: capitalize;
}
.weather-feels-like {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-details-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 50px;
}

.weather-details-text {
  font-size: 25px;
}
