@import 'vars';
@import 'libs';
@import 'global';

// html {
//   overflow-x: hidden;
//   overflow-y: scroll;
//   height: 100vh;
//   margin: 0;
//   padding: 0;
// }

body {
  color: $text-color;
}

.sunny {
  background: linear-gradient(150deg, #498cec 0%, #82afee 60%, #2d71cf 100%);
  animation: bgAnim 10s infinite linear;
  background-size: 500%;
}

.cloudy {
  background: linear-gradient(120deg, #5079b4 30%, #476794 70%, #567cb1 100%);
  animation: bgAnim 10s infinite ease;
  background-size: 1000%;
}

.drizzle {
  background: linear-gradient(0deg, #7794bd 30%, #7497c7 70%, #60799c 100%);
  animation: bgAnim 10s infinite ease;
  background-size: 1000%;
}

.rain {
  background: linear-gradient(90deg, #627b9e 30%, #445b79 60%, #414c58 100%);
  animation: bgAnim 10s infinite linear;
  background-size: 500%;
}

.storm {
  background: linear-gradient(50deg, #425572 0%, #39485f 30%, #354a69 60%, #233044 100%);
  animation: bgAnim 10s infinite ease;
  background-size: 500%;
}

.snow {
  background: linear-gradient(90deg, #62b3ff 30%, #69b4df 60%, rgb(135, 191, 255) 100%);
  animation: bgAnim 10s infinite linear;
  background-size: 500%;
}

.fog {
  background: linear-gradient(30deg, #bbc1ca 25%, #a1a6ac 50%, #a9b2be 75%, #b2bdce 100%);
  animation: bgAnim 30s infinite ease;
  background-size: 400%;
}

@keyframes bgAnim {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.sunnyImg,
.snowImg {
  animation: roundImgAnim 60s linear infinite;
  width: 200px;
}

.cloudyImg,
.rainImg,
.drizzleImg,
.stormImg {
  animation: cloudImgAnim 10s linear infinite;
  width: 200px;
}

.fogImg {
  animation: fogImgAnim 10s linear infinite;
  width: 200px;
}

@keyframes roundImgAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cloudImgAnim {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes fogImgAnim {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.main-wrapper {
  margin: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 83vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .sity-block {
    .sity-name {
      font-size: 20px;
      border: none;
      border-radius: 8px;
      padding: 18px;
    }

    .sity-name:disabled {
      background-color: transparent;
      color: #fff;
      opacity: 1;
      border: none;
      padding: 0;
      margin: 0;
      appearance: none;
      font-size: 50px;
    }

    .change-sity-block {
      display: flex;
      font-size: 18px;
      opacity: 0.6;
      margin-top: 10px;

      .change-sity {
        margin-right: 30px;
        cursor: pointer;
      }

      .your-position {
        cursor: pointer;
      }

      .position-logo {
        margin-right: 8px;
      }
    }
  }
}

.degree-block {
  display: flex;
  height: 32px;
  font-size: 18px;
  list-style: none;
  .degree-ico {
    margin-right: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
  }

  .degree-type {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    cursor: pointer;
  }
  .degree-type:last-child {
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .degree-type:nth-child(2) {
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #fff;
  }
}

.weather-block-wrapper {
  align-items: center;
}

.weather-block {
  display: flex;
  font-size: 150px;
  align-items: center;

  .weather-number {
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    margin-left: 15px;
  }
}
.weather-description {
  text-align: center;
  font-size: 26px;
  margin-top: -10px;
  text-transform: capitalize;
}
.weather-feels-like {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.weather-details-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 50px;
}

.weather-details-text {
  font-size: 25px;
}

@media (max-width: 1000px) {
  header {
    width: 89vw;
    .sity-block {
      .change-sity-block {
        font-size: 14px;
        margin-top: 10px;
        align-items: center;
        .position-logo {
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
      .sity-name {
        width: 89vw;
      }
      .sity-name:disabled {
        font-size: 32px;
      }
    }
  }
  .main-wrapper {
    margin: 20px;
    height: 95vh;
  }

  .weather-details-block {
    margin-top: 10px;
    width: 160px;

    .weather-details-title {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }
    .weather-details-text {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .weather-details {
    justify-content: space-between;
  }
  .degree-block {
    position: absolute;
    right: 9%;
    top: 1%;
    .degree-type {
      padding: 5px 20px;
    }
  }
  // 145px
  .weather-description {
    margin-top: 25px;
  }
  .weather-block {
    justify-content: space-evenly;
    .weather-number {
      font-size: 100px;
      margin-bottom: 0;
    }
    .weather-ico {
      width: 140px;
      height: 140px;
      img {
        width: 140px;
        height: 140px;
      }
    }
  }
}
